<div [@slideInOut]="triggerAnimation(outlet)" id="mainContainer">

  <router-outlet #outlet="outlet" ></router-outlet>
  <app-sign-in-form></app-sign-in-form>
  
  <!-- <app-sign-up-form></app-sign-up-form> -->
  <!-- <app-forgot-password></app-forgot-password> -->
   <!-- <app-forgot-password></app-forgot-password> -->
    <app-forgot-password></app-forgot-password>
     <app-verify-otp></app-verify-otp>
      <app-pwd-change></app-pwd-change>
       <app-my-profile></app-my-profile>
<!-- </div> -->